<table>
    <thead>
        <tr>
            <td>S.No</td>
            <td>Product Name</td>
            <td>Qty</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let eachData of cartDetails">
        <td>1</td>
        <td>{{ eachData.name }}</td>
        <td>{{ eachData.Qty }}</td>
        <td><button type="button" class="btn btn-primary product" (click) = "fnUpdateCart('Dec', eachData)"> - </button> / <button type="button" class="btn btn-primary product" (click) = "fnUpdateCart('Inc', eachData)"> + </button></td>
    </tr>
    </tbody>
</table>
