p{
    font-weight: bold;
    text-align: center;
    background-color: grey;
    height: 30px;
    padding-top: 10px;
}

p svg{
    height: 50px;
    position: absolute;    
}
p .usr-icon{
    float: right;
    margin-top: -15px;
    cursor: pointer;
    margin-right: 50px;
}

.in-line{
    display: inline-block;
}

.categories{
    margin: 10px;
    text-decoration-line: underline;
    cursor: pointer;
}

.sub-menu {
    width: 100px;
    background-color: lightcoral;
    height: 1000px;
}